<p>Twitch</p>
<div class="twitch">
    <button>Part channel</button><br>
    <input type="checkbox" id="request"><label for="request">Beatmap Request</label><br>
    <input type="checkbox" id="np"><label for="np">Now Playing</label><br>
</div>
<hr class="solid">
<p>Discord</p>
<div class="discord">
    <input type="checkbox" id="activity"><label for="activity">Use Activity</label><br>
</div>
<hr class="solid">
<p>Overlays</p>
<div class="overlays">
    <input type="checkbox" id="pp"><label for="pp">Performance Points</label><br>
    <input type="checkbox" id="ur"><label for="ur">Unstable Rate</label><br>
    <input type="checkbox" id="score"><label for="score">Score Farming</label><br>
</div>
<button>SAVE</button>