<p class="title">WELCOME TO KIYOMII'S SERVICE (OOC/NZXL.SPACE)<br><p style="font-size: 12px;">THIS DASHBOARD is *WIP*!!<br>Features might not work as expected.</p></p>
<br>
<div class="status">
    <p>Discord Activity: <span id="discord-status" class="status-dot">●</span></p>
    <p>Local Client: <span id="client-status" class="status-dot">●</span></p>
    <p>Using Overlays: <span id="socket-status" class="status-dot">●</span></p>
    <p>Joined Twitch Channel: <span id="twitch-status" class="status-dot">●</span></p>
    <p>Playing: <span id="osu-status" class="status-dot">●</span></p>
</div>
<p><span id="np" class="purple">DECO*27 - First Storm feat. Hatsune Miku [rui's Extra]</span></p>