<p class="title">welcome, <%=username %>!<br><p style="font-size: 12px;">THIS DASHBOARD is *WIP*!!<br>Features might not work as expected.</p></p>
<hr class="solid">
<div class="status">
    <p>Client: <span id="client-status" class="status-dot">●</span></p>
    <p>Activity: <span id="discord-status" class="status-dot">●</span></p>
    <p>Overlay: <span id="socket-status" class="status-dot">●</span></p>
    <p>Twitch Bot: <span id="twitch-status" class="status-dot">●</span></p>
    <p>Playing: <span id="osu-status" class="status-dot">●</span></p>
</div>
<hr class="solid">
<p><span id="np" class="purple">No currently playing song</span></p>