@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;700&display=swap');

body {
    height: 100%;
    display: block;
    margin: 0;
    background: rgb(18,17,20);
    background: linear-gradient(240deg, rgba(18,17,20,1) 0%, rgba(22,21,25,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Catamaran', sans-serif;
}

::selection {
    color: #CCC5E8;
}

.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-repeat: no-repeat; 
    background-color: black;
    background-position: center;
}


a {
    text-decoration: none;
    cursor: pointer;
    color: #6d6d6d;
    transition: color 300ms ease-in-out;
}

a:hover {
    cursor: pointer;
    color: #9e9e9e;
    transition: color 300ms ease-in-out;
}

.activities-gif {
    display: none;
    position: absolute;
    bottom: 25%;
    width: 75%;
    z-index: 100;
}