@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;700&display=swap');

body {
    height: 100%;
    display: block;
    margin: 0;
    background: rgb(18,17,20);
    background: linear-gradient(240deg, rgba(18,17,20,1) 0%, rgba(22,21,25,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Catamaran', sans-serif;
}

::selection {
    color: #CCC5E8;
}

/* -------------------- SweetAlert2 Styling -------------------- */
#swal2-title {
    color: #CCC5E8 !important;
}

#swal2-html-container {
    color: #B1ADC1 !important;
}

.swal2-container.swal2-center>.swal2-popup {    
    border-radius: 10px;
    background-color: #121114 !important;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 16px !important;
}

.swal2-footer {
    padding: 0 !important;
    border-top: none !important;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #797489;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    user-select: none;
}

a:hover {
    cursor: pointer;
    color: #908aa3;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    user-select: none;
}

.gif {
    display: none;
    position: absolute;
    bottom: 25%;
    width: 75%;
    z-index: 100;
}
/* ------------------------------------------------------------ */


/* ---------------------- Button Styling ---------------------- */
button {
    color: #CCC5E8 !important;
    background: none !important;
    background-color: #1F1E23 !important;
    border-radius: 15px !important;
    text-align: center !important;
    border: none !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !important;
    min-width: 150px !important;
    border-color: transparent !important;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 16px !important;
}

button:hover {
    color: #B1ADC1 !important;
    background-color: #1f1e23af !important;
    border: none !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !important;
}
/* ------------------------------------------------------------ */