{
    "credentials": {
        "osu": {
            "username": "<OSU USERNAME>",
            "password": "<OSU IRC PASSWORD>",
            "apiKey": "<OSU API KEY>"
        },
        "twitch": {
            "username": "<TWITCH USERNAME>",
            "password": "<TWITCH OAUTH>"
        },
        "discord": {
            "token": "<DISCORD TOKEN>",
            "guild": "<DISCORD SERVER>"
        }
    }
}
