<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheet.css">
    <title>open osu! collab banner</title>
</head>
<body>
    <div class="base"></div>
    <span class="username">EEEEEEEEEEEEEEE</span>
    <div class="modes">
        <div class="modes-osu">
            <div class="modes-osu-active"></div>
            <div class="modes-osu-inactive" style="display: none;"></div>
        </div>
        <div class="modes-taiko">
            <div class="modes-taiko-active" style="display: none;"></div>
            <div class="modes-taiko-inactive"></div>
        </div>
        <div class="modes-catch">
            <div class="modes-catch-active"></div>
            <div class="modes-catch-inactive" style="display: none;"></div>
        </div>
        <div class="modes-mania">
            <div class="modes-mania-active" style="display: none;"></div>
            <div class="modes-mania-inactive"></div>
        </div>
    </div>    
    <div class="tags">
        <div class="tag">
            <svg id="tag-circle" height="4" width="4">
                <circle cx="2" cy="2" r="2" />
            </svg>
            <span class="tag-text">bruh</span>
        </div>
        <div class="tag">
            <svg id="tag-circle" height="4" width="4">
                <circle cx="2" cy="2" r="2" />
            </svg>
            <span class="tag-text">TEAM</span>
        </div>
        <div class="tag">
            <svg id="tag-circle" height="4" width="4">
                <circle cx="2" cy="2" r="2" />
            </svg>
            <span class="tag-text">DE</span>
        </div>
    </div>
    <div class="info">
        <div class="info-section info-character">
            <span class="info-text">Riamu Yumemi aaaaaaaaaaaaaaaaaaaaaaa</span>
        </div>
        <div class="info-section info-skill">
            <span class="info-text">Aim</span>
        </div>
        <div class="info-section info-map">
            <span class="info-text">Tech</span>
        </div>
        <div class="info-section info-mod">
            <span class="info-text">Hidden</span>
        </div>
    </div>
    <div class="rank">
        <div class="rank-diagram-container">
            <ul class="rank-max-min">
                <li><span class="rank-max-min-text">#25.431</span></li>
                <li><span class="rank-max-min-text">#38.249</span></li>
            </ul>
            <img class="rank-diagram-axis" src="img/axis.png">
            <figure class="rank-diagram-chart" style="--widget-size: 100px">
                <ul class="rank-line-chart">
                    <li style="--x: 0px; --y: 0.279px;">
                        <div class="data-point" data-value="38164"></div>
                        <div class="line-segment" style="--hypotenuse: 12.758; --angle: 38.388;"></div>
                    </li>
                    <li style="--x: 10px; --y: 8.201px;">
                        <div class="data-point" data-value="35746"></div>
                        <div class="line-segment" style="--hypotenuse: 11.313; --angle: 27.879;"></div>
                    </li>
                    <li style="--x: 20px; --y: 13.490px;">
                        <div class="data-point" data-value="34132"></div>
                        <div class="line-segment" style="--hypotenuse: 10.032; --angle: -4.578;"></div>
                    </li>
                    <li style="--x: 30px; --y: 12.684px;">
                        <div class="data-point" data-value="34378"></div>
                        <div class="line-segment" style="--hypotenuse: 11.067; --angle: 25.366;"></div>
                    </li>
                    <li style="--x: 40px; --y: 17.425px;">
                        <div class="data-point" data-value="32931"></div>
                        <div class="line-segment" style="--hypotenuse: 11.445; --angle: 29.103;"></div>
                    </li>
                    <li style="--x: 50px; --y: 22.992px;">
                        <div class="data-point" data-value="31232"></div>
                        <div class="line-segment" style="--hypotenuse: 10.295; --angle: 13.749;"></div>
                    </li>
                    <li style="--x: 60px; --y: 25.437px">
                        <div class="data-point" data-value="30486"></div>
                        <div class="line-segment" style="--hypotenuse: 13.524; --angle: 42.317;"></div>
                    </li>
                    <li style="--x: 70px; --y: 34.542px">
                        <div class="data-point" data-value="27707"></div>
                        <div class="line-segment" style="--hypotenuse: 12.391; --angle: 36.193;"></div>
                    </li>
                    <li style="--x: 80px; --y: 41.859px">
                        <div class="data-point" data-value="25474"></div>
                        <div class="line-segment" style="--hypotenuse: 10.017; --angle: -3.339;"></div>
                    </li>
                    <li style="--x: 90px; --y: 41.282px">
                        <div class="data-point" data-value="25650"></div>
                    </li>
                </ul>
            </figure>
        </div>
        <div class="rank-text-container">
            <span class="rank-text">#2.345.809 / #47.271</span>
        </div>
    </div>
    <div class="accents">
        <svg id="accent-name" xmlns="http://www.w3.org/2000/svg" width="47" height="55">
            <path d="M734,21h8L718.745,61h-8Z" transform="translate(-703 -14)"/>
        </svg>
        <svg id="accent-info" xmlns="http://www.w3.org/2000/svg" width="49.376" height="81">
            <path d="M647.2,156h3L639.8,174h-3Zm12-21h3L651.8,153h-3Zm12-21h3L663.8,132h-3Zm12-21h3L675.8,111h-3Z" transform="translate(-636.812 -93)"/>
        </svg>
        <svg id="accent-rank" xmlns="http://www.w3.org/2000/svg" width="13.376" height="18">
            <path d="M967.2,156h3L959.8,174h-3Z" transform="translate(-956.812 -156)"/>
        </svg>
    </div>
    <div class="image">
        <svg id="image-base" xmlns="http://www.w3.org/2000/svg" width="384" height="240">
            <defs>
                <pattern id="image" width="1" height="1">
                    <image href="img/char.png"></image>
                </pattern>
            </defs>
            <path d="M322,248H569L706,8H390L322,124V248Z" transform="translate(-322 -8)"/>
        </svg>
        <div class="image-top-bar"></div>
        <div class="image-bot-bar">
            <span class="image-text">The Idolm@ster Cinderella Girls</span>
        </div>
        <svg id="image-border-accent" xmlns="http://www.w3.org/2000/svg" width="333.062" height="240">
            <path d="M665,89h6L579.1,248h-6ZM376.053,8h6L343.947,74h-6Z" transform="translate(-337.938 -8)"/>
        </svg>
        <div class="image-border"></div>
    </div>
</body>
</html>