<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheet.css">
    <title>open osu! collab avatar</title>
</head>
<body>
    <div class="avatar"></div>
    <div class="glow">
        <div class="glow-top"></div>
        <div class="glow-bot"></div>
    </div>
    <div class="logo">
        <svg id="logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2802 668">
            <path id="ooc" class="cls-1" d="M340.182,0h300L299.818,668h-300Zm450,0h300L749.818,668h-300Zm450,0h300L1199.82,668h-300Zm450,0h300L1649.82,668h-300Zm450.84,0h661L2665.98,267h-661Zm-205,401h661L2460.98,668h-661Z"/>
        </svg>
    </div>
    <div class="name">
        <span class="name-text">Kurumi Tokisaki</span>
    </div>
    <div class="brackets-container">
        <svg id="brackets" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 241.46 14">
            <g id="right">
                <polygon id="right_2" data-name="right 2" class="cls-1" points="241.46 7 238.48 13 236.48 13 239.46 7 236.48 1 238.48 1 241.46 7"/>
                <polygon id="right_1" data-name="right 1" class="cls-1" points="236.38 7 232.38 14 230.38 14 234.38 7 230.38 0 232.38 0 236.38 7"/>
            </g>
            <g id="left">
                <polygon id="left_2" data-name="left 2" class="cls-1" points="0 7 2.98 13 4.98 13 2 7 4.98 1 2.98 1 0 7"/>
                <polygon id="left_1" data-name="left 1" class="cls-1" points="5.08 7 9.08 14 11.08 14 7.08 7 11.08 0 9.08 0 5.08 7"/>
            </g>
        </svg>
    </div>
</body>
</html>