<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>osu.nzxl.space | dashboard</title>
        <link rel="icon" type="image/svg+xml" href="/assets/logo.svg" sizes="any"> 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>
        <div class="preloader"></div>
        <div class="jumbotron vertical-center">
            <div class="container-md">
                <nav class="navbar navbar-expand-md">
                    <a class="navbar-brand"><object data="/assets/logo.svg" width="150" height="40"></object></a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link active">home</a></li>
                            <li class="nav-item"><a class="nav-link">bot settings</a></li>
                            <li class="nav-item"><a class="nav-link">ooc</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://discord.gg/qYhZnEkMf4" target="_blank">discord</a></li>
                            <li class="nav-item"><a class="nav-link" href="/client.exe" target="_blank">download client</a></li>                    
                        </ul>
                    </div>                       
                    <a class="navbar-user" href="https://osu.ppy.sh/u/<%=username %>" target="_blank"><%= username %></a>
                    <div class="navbar-user-logo">
                        <img src="<%= avatar %>">
                    </div>
                </nav>
                <div class="content">
                    <p class="title">WELCOME TO KIYOMII'S SERVICE (OOC/NZXL.SPACE)<br><p style="font-size: 12px;">THIS DASHBOARD is *WIP*!!<br>Features might not work as expected.</p></p>
                    <br>
                    <div class="status">
                        <p>Discord Status: <span id="discord-status" class="status-dot">●</span></p>
                        <p>Client Status: <span id="client-status" class="status-dot">●</span></p>
                        <p>Socket Status: <span id="socket-status" class="status-dot">●</span></p>
                        <p>Twitch Status: <span id="twitch-status" class="status-dot">●</span></p>
                        <p>osu! Status: <span id="osu-status" class="status-dot">●</span></p>
                    </div>
                    <p><span id="np" class="purple">DECO*27 - First Storm feat. Hatsune Miku [rui's Extra]</span></p>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
        <script>
            $(window).on('load', function(){
                $('.preloader').fadeOut('slow');
            });

            var secretId = "<%= secretId %>";
            var active = "home";

            var socket = io();
            socket.on("connect", () => socket.emit("WEB", secretId));
            socket.on("JOINED", () => setInterval(() => socket.emit("REQUEST", secretId), 250));
            socket.on("DATA", data => {
                if(active == "home") {
                    document.getElementById("discord-status").style = data.Info.Discord ? "color: green;" : "color: red;";
                    document.getElementById("client-status").style = data.Info.Discord ? "color: red;" : "color: green;";
                    document.getElementById("socket-status").style = data.Info.Socket ? "color: green;" : "color: red;";
                    document.getElementById("twitch-status").style = data.Info.Twitch ? "color: green;" : "color: red;";
                    document.getElementById("osu-status").style = data.Player.playing ? "color: green;" : "color: red;";
                    document.getElementById("np").innerHTML = data.Beatmap.name;
                    document.getElementById("np-link").setAttribute("onClick", `window.open("https://osu.ppy.sh/b/`+data.Beatmap.id+`", '_blank').focus()`);
                }
                console.log(data);
            });
        </script>
    </body>
</html>